h1,h2{
    text-align: center;
}
.container{
    max-width: 955px;
    border: 2px solid red;
    border-radius: 7px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}
.message{
   background-color: black;
   color: white;
   padding: 10px;
   width: 25%;
   margin: 17px 2px;
   border-radius: 9px;
}
.left{
  float: left;
  clear: both;
}
.right{
  float: right;
  clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(52, 64, 180),rgb(145, 86, 145));
}
#messageinp{
    width: 91%;
    border:2px solid black;
    border-radius: 5px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    background-color: black;
    color: white;
}